.mainDiv{
    margin: 20px;   
}
.extTable{
    margin: 100px;
}
.myAction{
    font-size: 20px; 
}
.myAction:hover {
    transform: scale(1.5); /* Apply a scale transformation on hover */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
  }

  .deleteModel{
    color: brown;
    font-weight: bold;
  }